Dear {target}

Exciting times ahead at cloudy.sh, where you are the happy owner of an account. We have been working a lot recently to bring you new features and implemented some exciting ones, and also have built in an increased layer of security for your account.

Amongst these new features you can find the introduction of the "Shared folders" feature which allows you to expose the content of selected folders from your home computer, allowing you to remotely access your files (for the moment for download only, however we are working on extending this to full folder access soon) and also we have decided to have a two factor authentication scheme for increased security.

Unfortunately due to the largely rewritten security module the existing representation of old account data was deemed unsafe, this means that effectively from 20th of September we will have to suspend the existing infrastructure and discard existing data while we re-wire the site and install the latest features. We will send out a new email during October when we will be up and running again and registration to our site will be available, so expect to hear from us soon.

With regards,
The cloudy.sh team