Dear {target}

We are happy to announce that the latest iteration of cloudy.sh is back online. We have wired together the system, the shared folders feature is up and running, you can secure your account with two-factor authentication where we send a secret code to the email you have provided on registration, and we have fixed countless bugs to make the system more stable and secure for our future users.

Feel free to check out the new features (https://cloudy.sh/whatsnew.html) that we have implemented and in case you consider re-registering to our site you are more than welcome to do it at https://cloudy.sh/api/register.

Hope to see you among our users again.

With regards,
The cloudy.sh team