<!DOCTYPE html>
<body onload="loadPanes();">
<link rel="stylesheet" type="text/css" href="/sty.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/lightbox.min.js"></script>
<script src="/scr.js"></script>
<link href="/lightbox.css" rel="stylesheet"/>
<!--#include AjaxPaneJs(paneName:"left",url:{url})#-->
<!--#include AjaxPaneJs(paneName:"right",url:{url})#-->
<font face="monospace">
<div id="wrapper">
    <div id="topmenu"></div>
    <div id="leftpane"></div>
    <div id="rightpane"></div>
    <div id="lower_infopanel">
        <center>
            <table class="menutable">
                <tr>
                    <td>F1 -Help</td><td>F2 - Dahsboard</td><td>F3 - View</td>
                </tr>
           </table>
    </div>
    <div id="footer"></div>
</div>