.u-section-1 .u-sheet-1 {
  min-height: 1037px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 61px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 316px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/soup.png");
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: ABeeZee;
  text-shadow: 0 2px 8px rgba(242,242,242,1);
  margin: 275px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 316px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/csulok.png");
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: ABeeZee;
  text-shadow: 0 2px 8px rgba(242,242,242,1);
  margin: 275px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 316px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/szalmapity.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: ABeeZee;
  text-shadow: 0 2px 8px rgba(242,242,242,1);
  margin: 275px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 316px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/almas.png");
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: ABeeZee;
  text-shadow: 0 2px 8px rgba(242,242,242,1);
  margin: 275px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 316px;
}

.u-section-1 .u-image-5 {
  background-image: url("images/zaku.png");
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: ABeeZee;
  text-shadow: 0 2px 8px rgba(242,242,242,1);
  margin: 275px 0 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 316px;
}

.u-section-1 .u-image-6 {
  background-image: url("images/korso.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: ABeeZee;
  text-shadow: 0 2px 8px rgba(242,242,242,1);
  margin: 275px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 397px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 397px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 19px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 397px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 397px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 19px;
  }

  .u-section-1 .u-layout-cell-6 {
    background-position: 50% 50%;
    min-height: 397px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 304px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 304px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 304px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 304px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 304px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1993px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 456px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 456px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 456px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 456px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 456px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 456px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1317px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 287px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 287px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 287px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 32px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 287px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 287px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 32px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 287px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 32px;
  }
}